@media screen and (max-width: 576px) {
    .navbar{
        width: 100%; 
        height: auto;
        padding: 5px;
        
    }
    .cta-btn{
        margin-top: -40px;
    }
    .logo a{
      font-size: 14px;
      margin-left: 10px;
    }
    .nav-links li{
     margin-left: -280px;
    }
    .nav-links a{
        font-size: 8px;
        margin: 10px;
    }
    .cta-btn{
        margin-top: 10px;
        width: 70px;
        height: 30px;
        font-size: 12px;
    }
    .cta-btn a{
        margin-top: 20px;
        font-weight: 600;
        margin-left: -5px;
    }
   .banner{
    width: 100%;
    height: auto;
    flex-direction: column-reverse;
   }
   .banner-image img{
    margin-top: 190px;
    margin-left: -680px;
    width: 300px;
    height: 250px;  
   }
   .banner-content h1{
    font-size: 24px;
    margin-left: -35px;
    margin-top: -330px;
   }
   .banner-content h2{
    font-size: 23px;
    margin-left: -240px;
    line-height: 50px;
   }
   .banner-content{
    margin-bottom: 60px;
   }
   .banner-content p{
    font-size: 16px;
    margin-left: -35px;
    margin-top: 5px;
    line-height: 23px;
   }
   .banner-btn {
    margin-bottom: 50px;
    margin-left: 35px;
    margin-top: 300px;
    padding: 4px 8px;
   }
   .banner-btn a{
    font-size: 12px;
   }
   .section1-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

   .section2{
    width: 100%;
    height: auto;
   }
   .section2-content h1{
    font-size: 23px;
    line-height: 24px;
   }
   .section2-content p{
    font-size: 14px;
   }
.cards{
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.card1,.card2,.card3{
    width: 200px;
    height: 150px;
    margin: 15px;
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.card1 img{
   width: 20px;
   height: 20px;
   margin-left: 55px;
}
.card2 img{
   width: 20px;
   height: 20px;
   margin-top: 10px;
   margin-left: 40px;
}
.card3 img{
   width: 20px;
   height: 20px;
   margin-top: -5px;
   margin-left: 40px;
}

.card1 h1{
    font-size: 13px;
    line-height: 15px;
}
.card2 h1{
    font-size: 13px;
    line-height: 15px;
}
.card3 h1{
    font-size: 12px;
    line-height: 15px;
    margin-top: 5px;
}

.card1 p{
    font-size: 10px;
    margin-top: 5px;
}
.card2 p{
    font-size: 9px;
    margin-top: 5px;

}
.card3 p{
    font-size: 9px;
    margin-top: 5px;
}

.section3{
    width: 100%;
    height: auto;
    background-color: #d8dff9;
}
.section-3-all{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.section3-content1 h1{
    font-size: 23px;
    line-height: 25px;
    margin-top: 20px;
    margin-left: 0px;
}
.section3-content1 p{
    font-size: 14px;
    margin-left: -50px;
}
.icon-up{
    margin-top: 20px;
    margin-left: 50px;
}
.icon-down{
    margin-bottom: 20px;
    margin-left: 70px;
}
.section-3-card-content-1 h1,.section-3-card-content-2 h1{
  font-size: 12px;
}
.section-3-card-content-1 p,.section-3-card-content-2 p{
  font-size: 6px;
}
.image-icon1 img{
    width: 20px;
    height: 20px;
}
.image-icon2 img{
    width: 20px;
    height: 20px;
}
.image-icon3 img{
    width: 20px;
    height: 20px;
}
.image-icon4 img{
    width: 20px;
    height: 20px;
}
.section-3-card-content-3 h1,.section-3-card-content-4 h1{
  font-size: 12px;
  line-height: 15px;

}
.section-3-card-content-3 p,.section-3-card-content-4 p{
    font-size: 6px; 
}
.section4{
    width: 100%;
    height: auto;
}
.section4-content1 h1{
    font-size:23px;
    line-height: 30px;
}
.section4-content1 p{
    font-size: 12px;
}
.sec4-image1 img,.sec4-image2 img,.sec4-image3 img{
     margin: 40px;
     width:200px;
     height: 140px;    
}
.sec4-card1,.sec4-card2,.sec4-card3{
    width: 160px;
    height: 110px;
    margin-top: -120px;
    margin-left: 60px;
}
.sec4-card1-cont1 p{
    font-size: 10px;

 
 }
 .sec4-card2-cont2 p{
    font-size: 10px;
 
 }
.sec4-card3-cont3 p{
   font-size: 10px;
}
.sec4-card1-cont1 a{
    font-size: 13px;
    margin-bottom: 50px;
    
 }
 .sec4-card2-cont2 a{
    font-size: 13px;
    margin-bottom: -50px;
 
 }
.sec4-card3-cont3 a{
   font-size: 13px;
   margin-bottom: -50px;

}

.section4-content2-images{
    flex-direction:column-reverse ;
}
.small2{
    margin-left: 80px;
}

.contact{
    width: 100%;
    height: auto;
    flex-direction: column;
}
.contact-image img{
    width: 250px;
    height: 250px;
    margin-left: 40px;
}
.card{
    margin-left: -230px;
    margin-bottom: 50px;
}
.footer-content1,.footer-content2,.footer-content3,.footer-content4{
    padding: 5px;
}
.footer-section{
    width: 100%;
    height: auto;
}
.footer-logo{
    width: 60px;
    height: 60px;
}
.footer-content1 h1{
    font-size: 12px;
    margin-left: 10px;
    margin-top: 10px;
}
.footer-content1 p{
  font-size: 8px;
  margin-left: 10px;
   
}
.footer-icon img{
    width: 20px;
    height: 20px;
}
.footer-content2 h1{
    font-size: 12px;
    margin-top: -50px;
    margin-left: 10px;
}
.footer-list1 li{
  font-size: 8px;
  line-height: 15px;
  margin-left: 10px;
  margin-top: -10px;
}
.footer-content3 h1{
    font-size: 12px;
  margin-left: 10px;
  margin-top: -20px;

}
.footer-list2 li{
    font-size: 8px;
    line-height: 15px;
    margin-left: 10px;
    margin-top: -10px;
  }
  .footer-content4 h1{
    font-size: 12px;
    margin-left: 10px; 
    margin-top: -70px;
    line-height: 18px;
  }


  .form input{
    width: 85px;
    font-size: 8px;
    margin-left: 60px;
    margin-top: -10px;
}


}